@tailwind base;
@tailwind components;
@tailwind utilities;

#bg {
    /* background-image: url("../assets/Images/yellow.jpg"); */
    background-repeat: no-repeat;
    background-size: 80% 140%;
  background-position: center;
}
#transparent {
    background-color: transparent; 
}